.my_meta_control .description
{ display:none; }
 
.my_meta_control label
{ display:block; font-weight:bold; margin:6px; margin-bottom:0; margin-top:12px; }
 
.my_meta_control label span
{ display:inline; font-weight:normal; }
 
.my_meta_control span
{ color:#999; display:block; }
 
.my_meta_control textarea, .my_meta_control input[type='text']
{ margin-bottom:3px; width:99%; }
 
.my_meta_control h4
{ color:#999; font-size:1em; margin:15px 6px; text-transform:uppercase; }

.wpa_loop-docs {
	overflow: hidden;
}
	.wpa_group {
		width: 230px;
		float: left;
		border: 1px solid #dfdfdf;
		padding: 10px 10px 0 10px;
		margin: 10px 10px 10px 0;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
		.wpa_group img {
			height: 80px;
			width: auto;
			margin: 6px 0 0 0;
		}
		#wpa_loop-docs .wpa_group input {
			margin: 6px 0 10px 0;
		}

.separa-arriba {
	border-bottom: 1px solid #dfdfdf;
	padding-bottom: 15px;
}

.separa-abajo {
	border-top: 1px solid #dfdfdf;
	padding-top: 15px;
}
